.jumbotron {
    background-image: url(../images/image-hero-big-sure.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    height: 50vh;
}
.script {
    font-family: 'Barcelony', cursive;
    color: #FF9900;
}
.bold {
    font-family: 'Cabin', sans-serif;
}